.navStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
  }
  
  .navItemStyle {
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s, border-radius 0.3s;
    border-radius: 5px;
  }
  
  .title {
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navItemStyle:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .leftSide {
    display: flex;
    justify-content: space-around;
    width: 25%;
  }
  